In [27]:
import pandas as pd
data=pd.read_csv(r"C:\Users\Sreelekshmi\Downloads\Final!!.csv")
data

,PARAMETERS,SO2,CO,NO,NO2,NOX,NH3,O3,AQI,WS,WD,RH,SR,TC
0,01/01/2023,2.02,0.06,8.93,17.84,26.00,8.93,26.07,72,0.33,37.96,80.27,199.80,28.70
1,02/01/2023,1.63,0.12,8.89,17.74,26.00,8.89,25.97,81,0.47,33.84,82.50,189.10,28.11
2,03/01/2023,3.46,0.03,8.91,17.89,26.00,8.91,26.03,82,0.19,54.37,71.00,203.10,28.55
3,04/01/2023,2.79,0.11,8.88,17.77,26.00,8.88,25.95,79,0.54,40.44,78.11,205.20,28.25
4,05/01/2023,1.15,0.22,9.48,17.73,26.00,9.48,23.93,84,0.43,42.53,78.56,202.30,28.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,12/27/2024,3.53,0.53,1.45,5.34,6.68,1.45,36.20,66,0.80,151.19,83.99,98.19,30.23
671,12/28/2024,3.65,0.48,1.44,5.35,6.72,1.44,36.17,64,0.82,159.29,76.87,95.05,29.99
672,12/29/2024,4.64,0.49,1.42,5.35,6.58,1.42,36.21,60,0.82,148.56,78.66,100.60,30.42
673,12/30/2024,4.18,0.53,1.44,5.37,6.77,1.44,36.20,60,0.70,143.66,86.57,98.00,30.22
674,12/31/2024,3.67,0.62,1.42,5.35,6.61,1.42,36.19,60,0.72,163.21,77.02,96.68,30.12

In [28]:
null_counts=data.isnull().sum()
print(null_counts)

PARAMETERS    0
SO2           0
CO            0
NO            0
NO2           0
NOX           0
NH3           0
O3            0
AQI           0
WS            0
WD            0
RH            0
SR            1
TC            0
dtype: int64

In [29]:
data_cleaned = data.dropna(inplace=True)

In [30]:
x=data[['SO2','CO','NO','NO2','NOX','NH3','O3']]
y=data['AQI']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
data.shape

(674, 14)

In [31]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()

In [32]:
reg.fit(x_train,y_train)
y_pred=reg.predict(x_test)

In [33]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.563731981959922

In [42]:
from sklearn.neighbors import KNeighborsRegressor
regressor = KNeighborsRegressor(n_neighbors=20)
regressor.fit(x_train, y_train)
y_pred = regressor.predict(x_test)

In [43]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.6524554237622415

In [38]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [39]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.6289656532583066

In [44]:
from sklearn.ensemble import RandomForestRegressor
model_rf = RandomForestRegressor(n_estimators=30)
model_rf.fit(x_train, y_train)
y_pred = model_rf.predict(x_test)

In [45]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.6971639983174827

In [46]:
import pickle 
file=open('pr3.pkl','wb')
pickle.dump(regressor,file)
file.close()

In [48]:
import pickle
file=open(r"C:\Users\Sreelekshmi\Desktop\akira\pr3.pkl",'rb')
regressor=pickle.load(file)
file.close()